
    <section id="info">
      <h2 class="fancyGradient">Miscellaneous</h2>
      <p>
      Please, avoid special characters like <code class="inlineCode">[ / * % $ " @</code>. Start quotes using <code class="inlineCode">"</code> will reject the request.</p>
      <p>Find the <a href="https://github.com/santimirandarp">Quotes Library</a> on Github.</p>
    </section>


      
    <section class="requests" id="requests">
      <h2 class="fancyGradient">Quotes Library!</h2>
      <p><label for="inputGet" >Get your favorite quotes!</label></p>

      <form aria-label="input text section follows" class="requests__get"/>
        <div class="wrapper">
        <input name="inputGet" value="" aria-required="true" pattern="[^\*\x22\^=\+%\$\.,<>\[\]\}\{\|@£#\\]*" maxlength="100" type="text" placeholder="input text as a filter"/>
        <button type="submit">Get</button>
        <select id="select">
          <option value="all">all</option>
          <option value="sample">sample 5</option>
        </select>
        </div>
      </form>

      <div class="requests__dropdown">
        <p>Now Try<br/>Posting!</p>
        <div>&darr;</div>
      </div>

      <form class="requests__post">
        <div class="quoteWrapper">
        <input 
            pattern="[^\*\x22\^&=+%\$\.,<>\[\]\}\{\|@\£#\\]"
            type="text" 
            name="quote" 
            required
            minlength="7"
            maxlength="100" 
            placeholder="Insert new quote..."/>
        </div>
        <div class="authorWrapper">
        <input 
            pattern="[^\*\x22\^&=+%\$\.,<>\[\]\}\{\|@\£#\\]"
            type="text"
            name="author"
            minlength="5" 
            maxlength="50"
            placeholder="Insert author..."/>
        </div>
        <button type="submit"/>Post</button>
      </form>

<!-- author not required, if missed we add "missing"  -->
  </section>



    <div id="quotes" class="quotes">
      <ul class="quotes__ul"></ul>
    </div>

    <script src="common.js"></script>
    <script src="quotes.js"></script>
