.navbar {
  height: 4rem;
  width: 4rem;
  overflow: hidden;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in;
  background-color: rgba(70, 30, 30, 0.99);
}
.navbar > ul {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
.navbar > ul a {
  padding: 0.8rem;
}
.navbar > ul a:hover {
  box-shadow: 0 1px black;
}

.hamburger {
  position: absolute;
  z-index: 999;
  top: 1rem;
  right: 1rem;
  height: 2rem;
  width: 2rem;
}
.hamburger > * {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: #c8a242;
  transition: 0.3s all cubic-bezier(0.01, 0.62, 0.63, 0.79);
}
.hamburger > :first-child {
  top: 8px;
}
.hamburger > :nth-child(2) {
  top: 19px;
}
.hamburger > :nth-child(3) {
  bottom: 8px;
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger__line1, .hamburger__line3 {
  background-color: #ee0934;
}
.hamburger .hamburger__line1 {
  transform: rotateZ(225deg);
  top: 19px;
}
.hamburger .hamburger__line2 {
  display: none;
}
.hamburger .hamburger__line3 {
  transform: rotateZ(-225deg);
}

.userItem {
  position: relative;
}
.userItem__settings {
  display: none;
  position: absolute;
  width: 120px;
  left: 50%;
  top: calc(100% + 10px);
  transform: translateX(-50%);
  height: 0 .userItem__settings --height;
  height-transition: height 0.3s ease-in;
  height-height: auto;
}

@media screen and (min-width: 700px) {
  .userItem {
    margin-left: auto;
  }

  .hamburger {
    display: none;
  }

  .navbar {
    height: auto;
    width: 100%;
    background-color: #461e1ea6;
  }
  .navbar ul {
    margin-top: 0rem;
    display: flex;
    flex-direction: row;
  }
  .navbar ul a:hover {
    box-shadow: none;
    background-color: rgba(70, 30, 30, 0.99);
  }
}
body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 1.75;
}

input {
  font-size: 1rem;
  font-family: "Ubuntu", "sans-serif";
}

p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  margin: 3.38rem 0 1.38rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small, .text_small {
  font-size: 0.8rem;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button:hover, a:hover, select:hover {
  cursor: pointer;
}

body {
  margin: auto;
  padding: calc(0.3rem + 2vw);
  margin-top: 3rem;
  min-height: 100vh;
  color: white;
  background-color: #121212;
  text-align: center;
  font-size: 16px;
}

h2 {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, #7272bd, #760e0e);
}

input {
  caret-color: #7272bd;
  opacity: 0.85;
}
input:focus {
  opacity: 1;
  transition: opacity 0.3s ease;
}

a {
  font-variant: small-caps;
  color: rgba(114, 114, 189, 0.9);
  display: inline-block;
}

button, select {
  font-variant: small-caps;
  font-size: 0.9rem;
  letter-spacing: 1px;
  border-left: 1px solid rgba(10, 10, 10, 0.9);
  padding: 0.8rem;
}

button:hover {
  background-color: #7272bd;
}

.errorInput::before {
  content: "Format is not valid. Try again.";
}

.inlineCode {
  display: inline-block;
  background-color: rgba(40, 40, 40, 0.8);
  padding: 0 3px;
}

body {
  padding: 3rem;
}

/*# sourceMappingURL=index.css.map */
