@use "variables" as *;
body {
  display:grid;
  padding:calc(0.3rem + 2vw);
  max-width:600px;
  margin:auto;
  grid-template-columns: 1fr;
  grid-template-areas:
  "requests"
  "quotes"
  "info"
}

#requests { grid-area:requests; }
#info{ grid-area:info; }
#quotes{ grid-area:quotes; }

@media screen and (min-width:750px){
  body{
  padding:1rem;
  padding-top: calc(#{$navHeight} + 2rem);
}
}

@media screen and (min-width:1000px){
body{
  max-width:initial;
  align-items:start;
  column-gap:1rem;
  grid-template-columns:  0.66fr 0.33fr;
  grid-template-areas:
  "requests info "
  "quotes quotes";
}
}
@media screen and (min-width:1200px){
body{
  grid-template-areas:
  "requests nav"
  "requests info"
  "quotes quotes";
}
}
