@use "../common/variables" as *;
@use "../common/navBar100";

@media screen and (min-width:1200px){
  #navbar{
  grid-area:nav;
  position:static;
    align-self:center;
     > ul{
      flex-direction:column;
  }}
}

