@use "../common/allIncluded";
@use "../common/variables" as *;
@use "layout";
@use "requests";

#quotes{
  max-height:450px;
  overflow-y:auto;
}

.quotes__ul > li{
  display: table;
  margin: auto;
  padding:0.8rem;
  &:nth-child(odd){ background-color:$oddItemColor};
  &:nth-child(even){ background-color:$evenItemColor}
}


@media only screen and (min-width: 950px) {
  #info{ align-self:end; }
  #quotes{ margin:2rem; }
}


