body{
  padding:1rem;
  height:100%;
  min-height: 100vh;
  display:grid;
  grid-template-rows: minmax(400px, 0.3fr) minmax(400px, 0.6fr);
  grid-template-columns: 0.33fr 0.66fr;
  grid-template-areas:
  "nav requests requests"
  "quotes quotes quotes";
}
