* {padding:0; margin:0}
html{font-size:18px}
ul{  list-style-type:none; }
a {
font-variant:small-caps;
text-decoration:none;
color:rgba(20,20,220, 0.9);
font-weight:500;
}
body{
  color:white;
  background-color:#121212;
  font-family:"sans-serif";
  font-size:18px;
  display:grid;
  grid-template-rows:minmax(80px,0.1fr) minmax(200px,0.3fr) minmax(400px, 0.6fr);
  grid-template-columns:1fr
  height:100vh;
  overflow:hidden;
}
#navbar>ul, #active {
  display:flex;
  flex-direction:row
}
ul>li{
  padding:1.2rem
}
#active{
flex-align:center;
justify-content:center;
}
#active > * {
  display:grid;
  place-items:center;
  border:none;
  border-radius:0;
  height:2.5rem;
  padding:0 1rem;
}
#active>button{
  border-left:1px solid #121212
}
button:hover{
  cursor:pointer;
  background-color:lightblue
}
#messages{
  max-height:300px;
  overflow-y:auto;
  overflow-x:hidden;
  padding-bottom:1rem;
}
#ul > li{
padding:0.9rem;
}
#ul > li:nth-child(odd){
  background-color:#a2a2a2
}
#ul > li:nth-child(even){
  background-color:#454545
}
