@use "fonts";
@use "layout";
@mixin center(){ display:grid; place-items:center; }


@mixin flexCenter($dir){
  display:flex;
  flex-direction:$dir;
  align-items:center;
  justify-content:center;
}

$linkColor:rgba(114, 114, 189, 0.9);
$color:white;
$bg:#121212;
$navColor:#461e1ea6;
$fontSize:16px;
$borderLeftWidgets:rgba(10,10,10,0.9);
$inputMargin:1rem;
$oddItemColor:#a2a2a2;
$evenItemColor:#454545;

//general defs
* {
  padding:0; 
  margin:0; 
  border:none;
  border-radius:0;
  box-sizing:border-box
}
html{font-size:$fontSize}
ul{list-style-type:none;}
button:hover, a:hover {
  cursor:pointer;
}
input {background-color:rgb(255,255,255);
  opacity:0.85;
  &:focus{ 
    opacity:1;
    transition:opacity 0.3s ease;
}}

a {
  font-variant:small-caps;
  font-weight:500;
  text-decoration:none;
  color:$linkColor;
}

body {
}

body{
  //body grid is in "layout
  color:$color;
  background-color:$bg;
  text-align:center;
  font-family:"sans-serif";
  font-size:$fontSize;
}

// by component, top to bottom
#navbar{
  grid-area:nav;
  align-self:center;
  background-color: $navColor;
  & > ul{
    display:flex;
    flex-direction:column;
    & > li {padding:1.2rem}
}}

#requests {
  @include flexCenter(column);
  grid-area:requests;
  & > * {width:65%;}
}

.requests__get, 
.requests__post {
  display:grid;
  grid-template-columns:1fr 4rem;
  row-gap:$inputMargin;
  & > * { padding:1rem }; 
  //bc font size is same,
  //padding^^ will yield same height
  & button, select{ 
    border-left:1px solid $borderLeftWidgets;
    &:hover{
      background-color:lightblue
} } }
.requests__post{
}
.requests__get{
  padding-bottom: 2rem;
  grid-template-columns:1fr 4rem 5rem;
}

#quotes{
  grid-area:quotes;
  max-height:300px;
  overflow-y:auto;
  overflow-x:hidden;
  padding-bottom:1rem;
}

.quotes__ul > li{
  display: table;
  margin: auto;
  text-align:center;
  padding:0.8rem;
  &:nth-child(odd){ background-color:$oddItemColor};
  &:nth-child(even){ background-color:$evenItemColor}
}


@media only screen and (max-width: 800px) {
  #navbar{
    & > ul{
      display:flex;
      flex-direction:column;
      & > li {padding:1rem}
  }}
 .requests{flex-basis:100%;}
  .requests__get, 
  .requests__post {
    grid-template-columns:1fr 3rem;
    & > * { padding:0.8rem }; 
  }
  //bc font size is same,
  //padding^^ will yield same height
  .requests__get{
    margin-bottom:1rem;
    grid-template-columns:1fr 1fr;
  }
}


