body{
  padding:1.5rem;
  padding-top:3rem;
  display:grid;
  align-items:start;
  grid-template-columns: 0.33fr 0.66fr;
  grid-template-areas:
  "nav requests requests"
  "info requests requests"
  "quotes quotes quotes";
}
