@use "../common/variables" as *;

h2 {
  color:transparent;
  background-clip:text;
  background-image:linear-gradient(to right, $gradientLeft, $gradientRight)
}


input {
  caret-color:$gradientLeft;
  opacity:0.85;
  &:focus{ 
    opacity:1;
    transition:opacity 0.3s ease;
}}

a {
  font-variant:small-caps;
  color:$linkFontColor;
  display:inline-block;
}

button, select{
  font-variant:small-caps;
  font-size:0.9rem;
  letter-spacing:1px;
  border-left:1px solid $borderLeftWidgets; padding:.8rem 
}

button:hover{ background-color:$gradientLeft }

body{
  color:$bodyFontCol;
  background-color:$bg;
  text-align:center;
  font-size:$fontSize;
}

.errorInput {
  &::before{
    content:"Format is not valid. Try again."
  }}

.inlineCode{
display:inline-block;
background-color:$bgCode;
padding:0 3px;
}

