@use "variables" as *;

#navbar{
  height:75vh; 
  position:absolute;
  z-index:999;
  top:0;
  left:0;
  background-color: change-color($navBgColor, $alpha:0.99);
  > ul{ 
       display:flex;
       flex-direction:column;
       padding: 0 2rem;
    a { 
      padding:$navPadding;
      &:hover { 
        box-shadow: 0 1px black;
      } } }
} 

.userItem{
 position:relative;
&__settings {
 display:none;
 position:absolute;
 width:120px;
 left:50%;
 top:calc(100% + 10px);
 transform:translateX(-50%);
 height:0
 &--height{ 
    transition:height 0.3s ease-in;
    height:auto;
 }}}
 
@media screen and (min-width:700px){
  .userItem{
 margin-left:auto;
 }
  .hamburger {display:none}
  #navbar{
  height:auto;
  width:100%;
  background-color: $navBgColor;
  ul {flex-direction:row;
  a:hover { 
          box-shadow: none;
          background-color: change-color($navBgColor, $alpha:0.99);

        } 
  }
}
 }
