$bodyFontCol:white;
$bg:#121212;
$bgCode:rgba(40,40,40,0.8);
$linkFontColor:rgba(114, 114, 189, 0.9);
$navBgColor:#461e1ea6;
$oddItemColor:#a2a2a2;
$evenItemColor:#454545;
$gradientLeft:change-color($color:$linkFontColor, $alpha:1);
$gradientRight:change-color($color:#760e0e, $alpha:1);

$navPadding:0.8rem;
$fontSize:16px;
$navHeight: calc( #{$fontSize} + 2*#{$navPadding} );


$borderLeftWidgets:rgba(10,10,10,0.9);
$inputMargin:1rem;

@mixin center(){ display:grid; place-items:center; }

@mixin flexCenter($dir){
  display:flex;
  flex-direction:$dir;
  align-items:center;
  justify-content:center;
}

