@use "../common/fonts";
@use "../common/resets";

$bodyFontCol:white;
$bg:#121212;
$bgCode:rgba(40,40,40,0.8);
$linkFontColor:rgba(114, 114, 189, 0.9);
$navBgColor:#461e1ea6;

$fontSize:16px;
$inputMargin:1rem;

@mixin center(){ display:grid; place-items:center; }

@mixin flexCenter($dir){
  display:flex;
  flex-direction:$dir;
  align-items:center;
  justify-content:center;
}

a {
  font-variant:small-caps;
  color:$linkFontColor;
}

button, select{
  font-variant:small-caps;
  font-size:0.9rem;
  letter-spacing:1px;
}

body{
  @include center;
  min-height:100vh;
  color:$bodyFontCol;
  background-color:$bg;
  text-align:center;
  font-size:$fontSize;
}
.inlineCode{
display:inline-block;
background-color:$bgCode;
padding:0 3px;
}

#navbar{
  background-color: $navBgColor;
  & > ul{
    display:flex;
    flex-direction:column;
    & > li {
    padding:1rem;
    & > a {padding:2.2rem 4rem}}
}}


@media only screen and (max-width: 800px) {
  #navbar{
    & > ul{
      display:flex;
      flex-direction:column;
      & > li {padding:1rem}
  }}}
