<html lang="en">
<head>
  <meta charset="utf-8"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="{{{stylesheet}}}.css" rel="stylesheet"/>
</head>

  <body>

    <nav id="navbar" class="navbar">
      <div class="hamburger">
      <div></div><div></div><div></div>
      </div>
      <ul class="navbar__ul">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/library">Quotes Library</a></li>
        <li id="userItem" class="userItem">
          <div class="userItem__username">
            <a href="#">{{{username}}} &#8964;</a>
          </div>
          <ul class="userItem__settings">
            <li><a href="/users/logout">Log Out</a></li>
            <li><a href="/users/delete">Remove User</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    {{{body}}}

  <script src="/common.js"></script>
  </body>
</html>
